@use '../../../../../../src/styles/variables' as var;

.task-card {
  background: white;
  border-radius: 12px;
  padding: 1.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border-left: 6px solid #e0e0e0;
  

  display: flex;
  flex-direction: row; 
  align-items: stretch;
  height: 100%;
  gap: 1rem;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }

  &.priority-high { border-left-color: #ef5350; }
  &.priority-medium { border-left-color: #ffca28; }
  &.priority-low { border-left-color: #66bb6a; }

  &.is-completed {
    opacity: 0.6;
    background-color: #fafafa;
    .task-title { text-decoration: line-through; color: #9e9e9e; }
  }

  .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Stretch the body to fill the remaining space */
    justify-content: space-between; /* move footer to down */

    .content-area {
      display: flex;
      flex-direction: column;
      flex-grow: 1; 

      .header-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
        
        .user-badge { font-size: 0.75rem; color: #757575; font-weight: 600; }
      }

      .task-title {
        margin: 0 0 1rem 0;
        font-size: 1.1rem;
        font-weight: 600;
        color: #2c3e50;
        line-height: 1.4;
        
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .footer-info {
      margin-top: auto; 
      padding-top: 1rem;
      border-top: 1px solid #f0f0f0;
      
      .due-date {
        font-size: 0.85rem;
        color: #7f8c8d;
        display: flex;
        align-items: center;
        gap: 0.4rem;
      }
    }
  }

  .selection-area {
    padding-top: 0.25rem;
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      cursor: pointer;
      accent-color: #3f51b5; 
    }
  }

  .actions-area {
    display: flex;
    align-items: flex-end; /* Put the trash in the end */
    
    .btn-delete {
      background: transparent;
      border: none;
      color: #b0bec5;
      font-size: 1.25rem;
      cursor: pointer;
      padding: 0.5rem;
      border-radius: 8px;
      transition: all 0.2s;

      &:hover {
        background: #ffebee;
        color: #e53935;
      }
    }
  }
}