
@use './styles/variables' as var;
@use './styles/mixins' as mix;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var.$font-family;
  background-color: #f4f7f6;
  color: #333;
}

